/* variable */
:root {
  --border-color: #c3c3c3;
}

/* common */
img {
  display: block;
  max-width: 100%;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px !important;
}

.icon-num {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  background-color: #00358d;
  color: #fff;
  vertical-align: middle;
}

.empty {
  max-width: 100%;
  height: 100px;
  background-color: #ddd;
}

/* margin, border, padding */


.mt40{margin-top: 40px;}
.mt28{margin-top: 28px;}
.mt20{margin-top: 20px;}
.mt16{margin-top: 16px;}
.mt10{margin-top: 10px;}
.mt6{margin-top: 6px;}

.border {
  border: 1px solid #c3c3c3;
}

.ph21 {
  padding: 0 21px;
}

.pt0 { padding-top: 0; }
.pb0 { padding-bottom: 0; }


/* section-container */
.section {
}

.section.gray {
  background-color: #f7f7f7;
}

.bg-gray {
  background-color: #f7f7f7;
}

.section.full {
  padding: 0;
}

.article {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 25px;
}

.article.inner {
  padding: 38px 21px 25px;
}

/* btn */
.btn-wrap-tap {
  display: flex;
  flex-wrap: wrap;
  gap: 4px
}

.btn-wrap-tap .btn {
  display: block;
  max-width: initial;
  flex-basis: calc((100% - 4px) / 2);
  border-radius: 0;
}
.btn {
  display: inline-flex;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  padding: 10px 16px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  background-color: #ddd;
  font-size: 14px;
  color: #fff;
}

.btn.primary {
  background-color: #aa1a20;
}

.btn.secondary {
  background-color: #7c0000;
}

.btn.form {
  border-radius: 0;
}

/* swiper */
.swiper-area {
  overflow: hidden;
}

.swiper-thumb {
  display: flex;
  flex-wrap: wrap;
  padding: 26px;
  gap: 8px;
}

.swiper-thumb .empty {
  flex-basis: calc((100% - 16px) / 3);
  height: 70px;
}

/* text */
strong,
.bold {
  font-weight: 700;
}

.title {
  font-size: 20px;
  line-height: 30px;
}

.title.fs16 {
  font-size: 16px;
}

.title.fs14 {
  font-size: 14px;
}

.sub-title {
  font-size: 10px;
}

.sub-title.line {
  display: inline-block;
  padding: 4px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.text {
  font-size: 14px;
  line-height: 22.5px;
  letter-spacing: -0.8px;
}

.text.fs12 {
  font-size: 12px;
}

.text.fs10 {
  font-size: 10px;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}

/* components */
/* top-banner */
.title-area {
  position: relative;
}

.title-area img {
  display: block;
}

.title-area .title {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  font-size: 16px;
}

.top-banner {
  position: relative;
}

.top-banner img {
  display: block;
}

.top-banner .title {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  font-size: 16px;
}

/* top-menu */
.menu-area {
  position: relative;
  display: flex;
  margin-top: 12px;
  padding: 0 12px;
}

.menu-area li {
  position: relative;
  width: 50%;
}

.menu-area li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 16px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 12px;
}

.menu-area li a:hover {
  background-color: #f8f8f8;
}

.menu-area li a img {
  width: 9px;
  height: 6px;
}

.menu-area .sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.menu-area .sub-menu li {
  width: 100%;
}

.menu-area .sub-menu li a {
  border-top: none;
}
/*  */
.top-menu {
  position: relative;
  display: flex;
  margin-top: 12px;
  padding: 0 12px;
}

.top-menu li {
  position: relative;
  width: 50%;
}

.top-menu li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 16px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 12px;
}

.top-menu li a:hover {
  background-color: #f8f8f8;
}

.top-menu li a img {
  width: 9px;
  height: 6px;
}

.top-menu .sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.top-menu .sub-menu li {
  width: 100%;
}

.top-menu .sub-menu li a {
  border-top: none;
}

/* banner */
.banner-area {
  position: relative;
  text-align: center;
}

.banner-area img {
  display: block;
}

.banner-area .text-wrap {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.banner-area .text-wrap.right {
  right: auto;
  left: 40px;
}

.banner-area .text-wrap .text {
  margin-top: 20px;
  font-size: 12px;
}

/* list */
.list {
  display: flex;
  gap: 10px
}

.list.column-dbl {
  flex-wrap: wrap;
}

.list.column-dbl li {
  flex-basis: calc((100% - 10px) / 2);
}

/* card */

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card-wrap .card {
  width: calc((100% - 16px) / 2);
}

.card {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.card .text {
  padding: 12px 6px;
}

/* box */
.box-line {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid var(--border-color);
}

.box-solid {
  box-sizing: border-box;
  padding: 14px;
}

/* 전화상담신청 */
.consult-phone .form-phone {
  margin-top: 27px;
}

.consult-phone .form-phone select {
  width: 100%;
  padding: 10px;
}

.consult-phone .form-phone .input-phone {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.consult-phone .form-phone .input-phone .dial {
  width: calc(30% - 20px);
}

.consult-phone .form-phone .input-phone .number {
  width: 70%;
}

.consult-phone .form-phone textarea {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.consult-phone .form-phone .noti {
  width: 100%;
  padding: 10px;
  font-size: 8px;
  background-color: #fff;
  border: 1px solid #111;
  box-sizing: border-box;
}

.consult-phone .form-phone .check-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  
}

.consult-phone .form-phone .btn {
  max-width: none;
  width: 100%;
  margin-top: 10px;
}

/* 에스안과 tv */
.tv-area {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tv-area .main {
  flex-basis: 100%;
}

.tv-area .sub {
  flex-basis: calc((100% - 6px) / 2);
}

/* accordion-area */

.accordion-area .accordion-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.accordion-area .accordion-body {
  padding: 22px 15px;
  border-bottom: 1px solid var(--border-color);
}

.accordion-area details + details .accordion-header {
  border-top: 0;
}
