/* variable */
:root {
  --border-color: #c3c3c3;
}

/* common */
b {
  font-weight: 400;
}
img {
  display: block;
  max-width: 100%;
}

img.max70 {
  max-width: 70%;
  margin: 0 auto;
}

img.max50 {
  max-width: 50%;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  width: 20px;
}

.icon.txt {
  margin-right: 8px;
}

.icon.logo {
  width: 72px;
}

.icon.i60 {
  width: 60px;
}

.icon.i36 {
  width: 36px;
}
.icon.i36 {
  width: 36px;
}

.icon.i24 {
  width: 24px;
}
.icon.i20 {
  width: 20px;
}
.icon.i24 {
  width: 24px;
}

.icon.i12 {
  width: 12px;
}

.icon.i10 {
  width: 10px;
  height: 10px;
}

.icon-num {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  background-color: #00358d;
  color: #fff;
  vertical-align: middle;
}

.empty {
  max-width: 100%;
  height: 100px;
  background-color: #ddd;
}

/* margin, border, padding */


.mt40{margin-top: 40px;}
.mt28{margin-top: 28px !important;}
.mt20{margin-top: 20px;}
.mt16{margin-top: 16px;}
.mt10{margin-top: 10px;}
.mt6{margin-top: 6px;}

.border {
  border: 1px solid #c3c3c3;
}

.pd21 {
  padding: 21px;
}

.pt0 { padding-top: 0; }
.pb0 { padding-bottom: 0; }

.p0 { padding: 0 !important; }

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* section-container */
.section {
}

.section.gray {
  background-color: #f7f7f7;
}

.bg-gray {
  background-color: #f7f7f7;
}

.bg-white {
  background-color: #fff;
}

.section.full {
  padding: 0;
}

.article {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 25px;
}

.article.inner {
  padding: 38px 21px 25px;
}

.inner {
  padding: 0 21px;
}

.inner.surrounded {
  padding: 21px;
}
/* btn */
.btn-wrap .btn {
  max-width: 145px;
}

.btn-wrap.overlap {
  position: relative;
  display: flex;
}
.btn-wrap.overlap .btn {
  position: relative;
  top: 0;
  max-width: initial;
  width: calc(50% + 5px);
}

.btn-wrap.overlap .btn:first-child {
  left: 0;
}

.btn-wrap.overlap .btn:last-child {
  position: absolute;
  right: 0;

}

.btn-wrap-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px
}


.btn-wrap-tab .btn {
  display: block;
  max-width: 120px;
  flex-basis: calc((100% - 4px) / 2);
  border-radius: 0;
}

.btn-wrap-tab.col3 .btn {
  flex-basis: calc((100% - 8px) / 3);
}

.btn-wrap-tab.full .btn {
  max-width: none;
}


.btn-wrap.overlap .btn.type2,
.btn-wrap-tab .btn.type1,
.btn-wrap-tab .btn.type2 {
  border: 1px solid var(--border-color);
  background-color: #fff;
  color: #111;
}

.btn-wrap-tab.type2 {
  flex-wrap: nowrap;
}
.btn-wrap-tab .header {
  display: block;
  flex-basis: calc((100% - 4px) / 2);
  padding: 10px;
  border: 0;
  background: transparent;
  font-size: 14px;
}
.btn-wrap-tab .header.active,
.btn-wrap-tab.type2 .header.active {
  border-bottom: 4px solid var(--border-color);
  font-weight: 700;
}
.btn-wrap-tab.type2 .header.active {
  border-bottom-color: #9e000f; 
}

.btn-wrap.overlap .btn.type2.active,
.btn-wrap-tab .btn.type1.active,
.btn-wrap-tab .btn.type2.active {
  border: 1px solid var(--border-color);
  background-color: #0020a7;
  color: #fff;
}

.btn-wrap-tab .btn.type1.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  border-top: 6px solid #0020a7;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transform: translateX(-50%);
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  background-color: #ddd;
  font-size: 14px;
  color: #fff;
}

.btn.w100 {
  width: 100px;
}

.btn.fs10 {
  font-size: 10px;
}

.btn .icon {
  width: 10px;
  height: 14px;
  margin-left: 8px;
}

.btn.primary {
  background-color: #aa1a20;
}

.btn.secondary {
  background-color: #7c0000;
}

.btn.form {
  border-radius: 0;
}

.badge {
  padding: 8px 20px;
  background-color: #252525;
  border-radius: 20px;
  color: #fff;
}

.badge.type2 {
  padding: 4px 12px;
  font-size: 10px;
  background-color: #d3d3d3;
  color: #111;
}

.badge.type3 {
  position: relative;
  width: calc((100% - 10px) / 2);
  padding: 16px 0;
  border-radius: 32px;
  background: linear-gradient(to bottom, #1f98c4 50%, #158db9 50%);
}

/* swiper */
.swiper-area.default {
  position: relative;
  overflow: hidden;
}

.swiper-thumb {
  display: flex;
  flex-wrap: wrap;
  padding: 26px;
  gap: 8px;
}

.swiper-thumb .empty {
  flex-basis: calc((100% - 16px) / 3);
  height: 70px;
}

.swiper-area .default .swiper-pagination {
  position: relative;
  z-index: 2;
  margin-top: 28px;
  bottom: 0;
}

.swiper-area .default .swiper-pagination .swiper-pagination-bullet-active {
  width: 30px;
  background-color: #970000;
  border-radius: 12px;
}

.swiper-area .default .swiper-notification {
  display: block;
}

.swiper-area .default .swiper-button-prev {
  width: 22px;
  height: 30px;
  background-image: url(../../images/pages/icon_swiper-prev.png);
  background-color: rgba(0, 0, 0, .2);
  background-size: 12px 22px;
}

.swiper-area .default .swiper-button-next {
  width: 22px;
  height: 30px;
  background-image: url(../../images/pages/icon_swiper-next.png);
  background-color: rgba(0, 0, 0, .2);
  background-size: 12px 22px;
}

/* text */
strong,
.bold {
  font-weight: 700;
}

.title {
  font-size: 20px;
  line-height: 30px;
}

.title.fs16 {
  font-size: 16px;
}

.title.fs14 {
  font-size: 14px;
}

.sub-title {
  font-size: 10px;
}

.sub-title.fs14 {
  font-size: 14px;
}

.sub-title.line {
  display: inline-block;
  padding: 4px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.text {
  font-size: 14px;
  line-height: 22.5px;
  letter-spacing: -0.8px;
}
.text.pd {
  padding: 26px 12px;
}

.text.fs12 {
  font-size: 12px;
}

.text.fs10 {
  font-size: 10px;
}

.text.fs16 {
  font-size: 16px;
}

.text.lh15 {
  line-height: 15px;
}

.text.alert {
  color: #890000;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}

.fc-white {
  color: #fff;
}
.fc-blue {
  color: #014d8d;
}
.fc-blue2 {
  color: #1f98c4;
}
/* components */
/* top-banner */
.title-area {
  position: relative;
}

.title-area img {
  display: block;
}

.title-area .title {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  font-size: 16px;
}

.top-banner {
  position: relative;
}

.top-banner img {
  display: block;
}

.top-banner .title {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  font-size: 16px;
}

/* top-menu */
.menu-area {
  position: relative;
  display: flex;
  margin-top: 12px;
  padding: 0 12px;
}

.menu-area li {
  position: relative;
  width: 50%;
}

.menu-area li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 16px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 12px;
}

.menu-area li a:hover {
  background-color: #f8f8f8;
}

.menu-area li a img {
  width: 9px;
  height: 6px;
}

.menu-area .sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.menu-area .sub-menu li {
  width: 100%;
}

.menu-area .sub-menu li a {
  border-top: none;
}
/*  */
.top-menu {
  position: relative;
  display: flex;
  margin-top: 12px;
  padding: 0 12px;
}

.top-menu li {
  position: relative;
  width: 50%;
}

.top-menu li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 16px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 12px;
}

.top-menu li a:hover {
  background-color: #f8f8f8;
}

.top-menu li a img {
  width: 9px;
  height: 6px;
}

.top-menu .sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.top-menu .sub-menu li {
  width: 100%;
}

.top-menu .sub-menu li a {
  border-top: none;
}

/* banner */
.banner-area {
  position: relative;
  text-align: center;
}

.banner-area img {
  display: block;
}

.banner-area .text-wrap {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.banner-area .text-wrap.right {
  right: auto;
  left: 40px;
}

.banner-area .text-wrap.center {
  width: 100%;
  left: auto;
  right: auto;
}

.banner-area .text-wrap .text {
  margin-top: 20px;
  font-size: 12px;
  line-height: 15px;
}

/* list */
.list {
  display: flex;
  gap: 10px
}

.list.column-dbl {
  flex-wrap: wrap;
}

.list.column-dbl li {
  flex-basis: calc((100% - 10px) / 2);
}

/* card */

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card-wrap .card.full {
  width: 100%;
}

.card-wrap .card {
  width: calc((100% - 16px) / 2);
}

.card-wrap.col3 .card {
  width: calc((100% - 32px) / 3);
}

.card {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.card .text {
  padding: 12px 6px;
}

/* box */
.box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 10px;
}

.box-wrap.align {
  align-items: center;
}

.box-wrap.align > .box-solid {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: flex-end;
}

.box-wrap > .box-solid {
  flex-basis: 120px;
}

.box-wrap.col3 .box-line {
  width: calc((100% - 20px) / 3);
}

.box-line {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid var(--border-color);
}

.box-line.thick {
  border-width: 3px; 
}

.box-line.top-color {
  border-top-color: #0020a7;
}

.box-solid {
  box-sizing: border-box;
  padding: 14px;
}

.box-solid.round {
  border-radius: 20px;
}

.box-solid.circle {
  flex-basis: 100px;
  line-height: 72px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
}

.box-solid.circle.gray {
  background-color: #e9e9e9;
}
.box-solid.circle.blue1 {
  background-color: #2663bc;
}
.box-solid.circle.blue2 {
  background-color: #124289;
}
.box-solid.circle.blue3 {
  background-color: #051c33;
}
.box-solid.circle.blue4 {
  background-color: #0672cd;
}

.box-solid.blue1 {
  background-color: #3e77ce;
}
.box-solid.blue2 {
  background-color: #2758c1;
}
.box-solid.blue3 {
  background-color: #1137b2;
}
.box-solid.blue4 {
  background-color: #0f3188;
}
.box-solid.blue {
  background-color: #002985;
}
.box-solid.gray {
  background-color: #24292f;
}

.box-solid.color {
  height: 110px;
  color: #fff;
}
.box-solid.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.img-wrap.col3 {
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 4px;
}

.img-wrap > img,
.img-wrap > .img-item {
  width: calc((100% - 6px) / 2);
}

.img-wrap.col3 .img-item {
  width: calc((100% - 8px) / 3);
}

/* 전화상담신청 */
.consult-phone .form-phone {
  margin-top: 27px;
}

.consult-phone .form-phone select {
  width: 100%;
  padding: 10px;
}

.consult-phone .form-phone .input-phone {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.consult-phone .form-phone .input-phone input {
  padding: 10px;
  box-sizing: border-box;
}

.consult-phone .form-phone .input-phone .name {
  width: calc(30% - 20px);
}

.consult-phone .form-phone .input-phone .number {
  width: 70%;
}

.consult-phone .form-phone textarea {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.consult-phone .form-phone .noti {
  width: 100%;
  padding: 10px;
  font-size: 8px;
  background-color: #fff;
  border: 1px solid #111;
  box-sizing: border-box;
}

.consult-phone .form-phone .check-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  
}

.consult-phone .form-phone .btn {
  max-width: none;
  width: 100%;
  height: 44px;
  margin-top: 10px;
}

/* 에스안과 tv */
.tv-area {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tv-area .main {
  flex-basis: 100%;
}

.tv-area .sub {
  flex-basis: calc((100% - 6px) / 2);
}

/* accordion-area */

.accordion-area .accordion-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 8px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.accordion-area .accordion-header::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  width: 11px;
  height: 14px;
  transform: translateY(-50%);
  background-image: url('../../images/pages/icon_acco_q.png');
  background-size: cover;
}

.accordion-area .accordion-header::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  width: 9px;
  height: 2px;
  transform: translateY(-50%);
  background-image: url('../../images/pages/icon_acco_close.png');
  background-size: cover;
}

.accordion-area details[open] .accordion-header {
  color: #970000;
}

.accordion-area details[open] .accordion-header::before {
  background-image: url('../../images/pages/icon_acco_q_open.png');
}

.accordion-area details[open] .accordion-header::after {
  width: 11px;
  height: 11px;
  background-image: url('../../images/pages/icon_acco_open.png');
}

.accordion-area .accordion-header > .text {
  margin-right: auto;
  margin-left: 16px;
}

.accordion-area .accordion-body {
  padding: 22px 15px;
  border-bottom: 1px solid var(--border-color);
}

.accordion-area details + details .accordion-header {
  border-top: 0;
}

/* tab-area */
.tab-body {
  display: none;
}

.tab-body.active {
  display: block;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 0 4px;
}

.pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--border-color)
}

.pagination .num-page {
  display: flex;
  gap: 0 4px;
}

.num-page .num.active {
  background-color: #b31e23;
  color: #fff;
}

/* search */
.search-area {
  padding: 16px 20px;
  font-size: 12px;
}

.search-area .select-area {
  position: relative;
}

.search-area .select-area::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -5px;
  border-top: 10px solid #111;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  pointer-events: none;
}

.search-area .select-area select {
  position: relative;
  appearance: none;
  width: 100%;
  padding: 8px;
}

.search-area .keyword {
  display: flex;
  margin-top: 6px;
}

.search-area .keyword input {
  flex-basis: 100%;
  padding: 8px;
}

.search-area .keyword .btn-search {
  appearance: none;
  width: 50px;
  border: 0;
  background-color: #454545;
  color: #fff
}