.introduce {
  padding: 40px 24px 30px;
}

.introduce.gray {
  background-color: #f4f4f4;
}

.introduce.center {
  padding: 40px 0 0;
  text-align: center;
}

.introduce .logo {
  margin-bottom: 26px;
}

.introduce .logo img {
  width: 35px;  
  margin-left: auto;
  margin-right: auto;
}

.introduce .title {
  font-size: 23px;
}

.introduce .sub-title {
  margin-top: 12px;
  font-size: 18px;
}

.introduce .txt {
  margin-top: 24px;
  line-height: 28px;
  font-size: 16px;
  
}

.introduce .img-area {
  margin-top: 30px;
}

.introduce .introduce-area {
  position: relative;
  margin-top: 30px;
}

.introduce .introduce-area .list-info {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  padding: 42px;
  color: #fff;
}

.introduce-area .list-info li {
  width: calc((100% - 1px) / 2);
  padding: 28px;
  box-sizing: border-box;
}



.introduce-area .list-info li:nth-child(n+3) {
  border-top: 1px solid rgb(250, 246, 245, .5)
}
.introduce-area .list-info li:nth-child(2n+1) {
  border-right: 1px solid rgb(250, 246, 245, .5)
}

.introduce-area .list-info li .title {
  font-size: 14px;
}
.introduce-area .list-info li .content {
  font-size: 26px;
}
.introduce-area .list-info li .content b {
  font-size: 14px;
}




.staff-wrap {
  margin-top: 24px;
  padding: 0 12px 50px;
}

.list-staff {
  display: flex;
  flex-wrap: wrap;
}

.list-staff li {
  width: calc((100% - 9px) / 2);
  border: 1px solid #999;
  box-sizing: border-box;
}

.list-staff li:nth-child(2n) {
  margin-left: 9px;
}

.list-staff li:nth-child(n+3) {
  margin-top: 9px;
}

.list-staff a {
  width: 100%;
}

.list-staff a img {
  width: 100%;
}

.list-staff .id-area {
  padding: 10px 0;
  text-align: center;
}

.list-staff .id-area .name {
  font-size: 16px;
  font-weight: 700;
}

.list-staff .id-area .major {
  margin-top: 4px;
  font-size: 12px;
  color: #232323;
}

.list-staff .modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .5);
}
.list-staff .modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 80%;
  padding: 22px 12px 50px;
  background-color: #fff;
  overflow: scroll;
  transform: translate(-50%, -50%);
}

.list-staff .modal-wrapper .btn-close {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 32px;
  height: 32px;
  transform: translateX(-50%);
}

.list-staff .modal-wrapper img {
  width: 100%;
}

.list-staff .modal-wrapper .modal-contents {
  margin-top: 30px;
  padding: 0 20px;
}

.list-staff .modal-wrapper .history-area .name {
  font-size: 22px;
}

.list-staff .modal-wrapper .history-area > p {
  margin-top: 28px;
  line-height: 28px;
  font-size: 16px;
  color: #222;
}

.list-staff h6.title {
  font-size: 16px;
  font-weight: bold;
}

.list-staff .modal-wrapper .time-table {
  margin-top: 30px;
}

.list-staff .modal-wrapper .time-table table {
  margin-top: 12px;
  border-collapse: collapse;
}

.list-staff .modal-wrapper .time-table table th,
.list-staff .modal-wrapper .time-table table td {
  border: 1px solid #3d3d3d;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.list-staff .modal-wrapper .time-table table th {
  background-color: #f2f2f2;
}

.list-staff .guide-area {
  margin-top: 30px;
}

.list-staff .guide-area p {
  margin-top: 12px;
  line-height: 23px;
  font-size: 14px;
}

.list-staff .btn-wrap {
  margin-top: 38px;
  text-align: center;
}

.list-staff .btn-wrap .btn + .btn {
  margin-left: 8px;
}

/* mobile_facility */

.facility-wrap {
  margin-top: 40px;
}

.facility-wrap .btn-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  gap: 9px;
}

.facility-wrap .btn-wrap li {
  width: calc((100% - 9px) / 2);
}

.facility-wrap .btn-wrap li a {
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
}

.facility-wrap .btn-wrap li.active a {
  border-color: #bf1e2e;
  background-color: #bf1e2e;
  color: #fff;
}

.facility-wrap .swiper-area.default {
  position: relative;
  margin: 22px 12px 0;
  overflow: hidden;
}

.facility-wrap .swiper-area.default .swiper-pagination {
  position: static;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  gap: 7px;
}

.facility-wrap .swiper-area.default .swiper-pagination .swiper-pagination-bullet {
  display: block;
  width: calc((100% - 21px) / 4);
  height: auto;
  margin: 0;
  background: none;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 0;
}

.facility-wrap .swiper-area.default .swiper-pagination .swiper-pagination-bullet img {
  display: block;
}

.facility-wrap .swiper-area.default .swiper-pagination .swiper-pagination-bullet .swiper-pagination-bullet-active {
  color: #fff;
}

.facility-wrap .swiper-area.default .swiper-button-next,
.facility-wrap .swiper-area.default .swiper-button-prev {
  top: 31%;
  margin-top: -15px;
  z-index: 5;
  width: 22px;
  height: 30px;
  background-size: 12px 22px;
  background-color: rgba(51, 51, 51, .2);
  color: #fff;
}

.facility-wrap .swiper-area.default .swiper-pagination .swiper-pagination-bullet .swiper-button-next {
  right: 3px;
  background-image: url('../../images/pages/swiper_next.png');
}
.facility-wrap .swiper-area.default .swiper-pagination .swiper-pagination-bullet .swiper-button-prev {
  left: 3px;
  background-image: url('../../images/pages/swiper_prev.png');
}

/* mobile_1day-glaucoma */
.intro-area {
  position: relative;
  margin-top: 38px;
}

.intro-area .txt-wrap {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.intro-area .txt-wrap .title {
  font-size: 20px;
  line-height: 1.38;
}

.intro-area .txt-wrap .txt {
  margin-top: 22px;
  font-size: 12px;
}

section.glaucoma {
  padding: 36px 0;
  text-align: center;
}

section.glaucoma .title {
  font-size: 20px;
  font-weight: 700;
}

section.glaucoma .img-area {
  margin-top: 30px;
  padding: 0 50px;
}

section.glaucoma .title.second {
  margin-top: 32px;
  line-height: 1.46;
}

section.glaucoma .txt {
  margin-top: 42px;
  font-size: 14px;
  line-height: 1.67;
}

section.glaucoma-cause {
  padding: 36px 24px;
  text-align: center;
  background-color: #f7f7f7;
}

section.glaucoma-cause .title {
  font-size: 20px;
  font-weight: 700;
}

section.glaucoma-cause .cause-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
}

section.glaucoma-cause .cause-list li {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 20px;
  padding: 4px 14px;
  background-color: #fff;
}

section.glaucoma-cause .cause-list li + li {
  margin-top: 10px;
}

section.glaucoma-cause .cause-list li img {
  width: 11px;
  height: 9px;
}

section.glaucoma-cause .cause-list li .txt {
  position: relative;
  margin-left: 30px;
  padding: 10px 0;
  font-size: 12px;
}

section.glaucoma-cause .cause-list li .txt::before {
  content: '';
  position: absolute;
  top: 0;
  left: -18px;
  width: 1px;
  height: 35px;
  background-color: #cdcdcd;
}

section.glaucoma-test .swiper-area.default {
  margin-top: 40px;
}


section.glaucoma-test .swiper-area.default .img-area {
  border: 1px solid #f3f3f3;
}

section.glaucoma-test .swiper-area.default .text-area {
  height: 30px;
  border: 1px solid #f3f3f3;
}

.article.glaucoma-equip .text {
  margin-top: 30px;
}

.article.glaucoma-equip .list-area {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  gap: 10px;
}

.article.glaucoma-equip .list-area li {
  width: calc((100% - 10px) / 2);
  border: 1px solid #f7f7f7;
  box-sizing: border-box;
}

.article.glaucoma-equip .list-area .text-area {
  padding: 10px;
}

.article.glaucoma-equip .list-area .text-area .title {
  font-weight: bold;
}

.article.glaucoma-equip .list-area .text-area .content {
  margin-top: 10px;
}

.glaucoma-banner-area {
  position: relative;
}

.glaucoma-banner-area .text-area {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.glaucoma-banner-area .text-area .title {
  font-size: 20px;
  font-weight: 700;
}

.glaucoma-banner-area .text-area .content {
  margin-top: 14px;
  font-size: 15px;
}

/* 노안과백내장 */
.check-list-area {
  padding: 13px;
  background-color: #e7e7e7;
}

.check-list-area .check-list {
  padding: 23px 10px;
  background-color: #fff;
}

.check-list-area .check-list li {
  display: flex;
  align-items: center;
}

.check-list-area .check-list .icon {
  width: 15px;
  height: 13px;
}

.check-list-area .check-list .text {
  margin-left: 16px;
}

.check-list-area .check-list li {
  display: flex;
}

.box-check {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.box-check .text {
  flex: 1;
  margin-left: 16px;
}

/* 그외 망막질환 */
.tab-item .text {
  position: relative;
  background-color: #ecf5fb;
  padding: 16px;
}

.tab-item .text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -3px;
  width: calc(100% + 6px);
  height: 3px;
  background-color: #0121aa;
}

.icon-list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 43px;
}

.icon-list-wrap li {
  display: flex;
  flex-basis: calc((100% - 43px) / 2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-list-wrap .box-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
}

.icon-list-wrap img {
  width: 50px;
  height: 50px;
}

/* 눈꺼풀처짐 */
.progress-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.progress-area .progress {
  flex-basis: calc((100% - 20px) / 2);
}

.progress-area .progress img {
  width: 100px;
  margin: 0 auto;
}

.progress-area .progress .step {
  padding: 4px 6px;
  border-radius: 12px;
  background-color: #191919;
  font-size: 6px;
  color: #fff;
}

.progress-explan {

}

.progress-explan .title {
  font-size: 12px;
}

.progress-explan .title.type1 {
  background-color: #e9e9e9;
}
.progress-explan .title.type2 {
  background-color: #2663bc;
}
.progress-explan .title.type3 {
  background-color: #124289;
}
.progress-explan .title.type4 {
  background-color: #abd2f3;
}

.progress-explan .text {
  padding: 16px;
}

/* 눈물흘림 */
.check-list.type2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 4px;
}

.check-list.type2 li {
  display: flex;
  align-items: center;
  flex-basis: calc((100% - 4px) / 2);
  padding: 10px;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.check-list.type2 li .text {
  font-size: 8px;
  margin-left: 5px;
}

.box-complex {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid var(--border-color)
}

.box-complex > img {
  width: 40%;
} 

.box-complex > .text-wrap {
  width: 60%;
  padding: 22px 12px;
  box-sizing: border-box;
}

.box-complex > .text-wrap .title {
  font-size: 10px;
}

.box-complex > .text-wrap .text {
  font-size: 10px;
}

.box-complex > .text {
  width: 100%;
  padding: 15px 30px;
  background-color: #051c2e;
  color: #fff;
}

.box-complex.type2 {
  border: none;
}

.box-complex.type2 > .text-wrap {
  background-color: #fff;
  border: 1px solid var(--border-color);
}

.box-complex.type2 > .text-wrap .text .highlight {
  background-color: #f7f7f7;
}

/* 백내장 수술 */
.cover-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;;
  gap: 8px 10px;
  transform: translateY(-10%);
}

.cover-wrap .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100% - 10px) / 2);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  padding: 16px;
  background-color: #fff;
}

.cover-wrap .item img {
  width: 34px;
}

/* 비문증 */
.list-box {

}

.list-box li {
  list-style-position: inside;
  list-style-type: disc;
}

.list-box .item {
  padding: 13px 21px;
  border: 1px solid var(--border-color);
  background-color: #fff;
  text-align: left;
}

.list-box .item + .item {
  margin-top: 6px;
}

/* 소아클리닉 */
.swiper-area.tab .swiper-wrapper {
  flex-wrap: nowrap;
}

.swiper-area.tab .swiper-wrapper .swiper-slide {
  flex-basis: auto;
}

.swiper-area.tab .swiper-wrapper .swiper-slide.active {
  border-bottom-color: #bf1e2e;
}

/* 안검하수 */
.list-box.type2 li {
  list-style-image: url(../../images/pages/icon_check-list5.png);
}

.list-box.type2 .item:nth-child(2n) {
  background-color: #f3f3f3;
  border: 0;
}

.box-ptosis {
  padding: 16px;
}

.box-ptosis .text {
  margin: 16px 40px 0;
  border-top: 1px dashed var(--border-color);
  padding-top: 16px;
}

.list-circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 8px;
}

.list-circle .item {
  flex-basis: calc((100% - 16px) / 3);
}

.list-circle .item .badge {
  min-width: 70px;
  font-size: 10px;
}

.list-circle .item:nth-child(n+1) .badge {
  background-color: #0c4070;
}

.list-circle .item:nth-child(2n) .badge {
  background-color: #0179bd;
}

/* 안구건조증 */
.check-list-area.col2 .check-list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px 0;
}

.check-list-area.col2 .check-list li {
  flex-basis: 50%;
}

/* 황반변성 */

.cause-list-wrap .cause-list {
  display: flex;
  flex-wrap: wrap;
}

.cause-list-wrap .cause-list li {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 20px;
  padding: 4px 14px;
  background-color: #fff;
}

.cause-list-wrap .cause-list li + li {
  margin-top: 10px;
}

.cause-list-wrap .cause-list li img {
  width: 11px;
  height: 9px;
}

.cause-list-wrap .cause-list li .txt {
  position: relative;
  margin-left: 30px;
  padding: 10px 0;
  font-size: 12px;
}

.cause-list-wrap .cause-list li .txt::before {
  content: '';
  position: absolute;
  top: 0;
  left: -18px;
  width: 1px;
  height: 35px;
  background-color: #cdcdcd;
}

/* 시력교정센터 */

.title.background45 {
  padding: 10px 0;
  background: linear-gradient(to right bottom, #18327d 50%, #204192 50%);
  color: #fff;
}

/* 사회공헌 */
.list-contribution .list-item + .list-item {
  margin-top: 24px;
}

.list-contribution .category {
  color: #970000;
}

/* 공지사항 */

.btn-wrap-tab.notice {
  flex-wrap: nowrap;
}

.btn-wrap-tab.notice .btn {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: #111;
}

.btn-wrap-tab.notice .btn.active {
  background-color: #b31e23;
  color: #fff
}

.list-notice {
  margin-top: 12px;
  border-top: 2px solid #a30000;
  font-size: 14px;
}

.list-notice .list-item {
  padding: 16px 0;
}

.list-notice .list-item + .list-item {
  border-top: 1px solid var(--border-color)
}

.list-notice .list-item .category {
  padding: 4px 8px;
  border-radius: 16px;
  color: #fff;
}

.list-notice .list-item .category.notice {
  background-color: #b31e23;
}

.list-notice .list-item .category.news {
  background-color: #999;
}

.list-notice .list-item .category.guide {
  background-color: #4f4f4f;
}

.list-notice .list-item .list-info {
  display: flex;
  margin-top: 8px;
}

.list-notice .list-item .list-info li + li {
  margin-left: 20px;
}

.swiper-area.oneday .swiper-slide {
  background-color: #fff;
  transition: transform .3s;
}

.swiper-area.oneday .swiper-slide-active {
  transform: scale(1.1);
}

.swiper-area.oneday .swiper-slide .text {
  padding: 6px;
}

.swiper-area.contribution .btn-wrap-tab {
  justify-content: flex-start;
}

.swiper-area.contribution .btn-wrap-tab .header {
  box-sizing: border-box;
}

.img-slide-area {
  width: 100%;
  overflow-x: scroll;
}

.img-slide-area img {
  max-width: none;
}

.table-correction {
  width: 100%;
  border-collapse: collapse;
}

.table-correction th,
.table-correction td {
  padding: 10px 0;
  border: 1px solid #dbdbdb;
  font-size: 10px;
  text-align: center;
  color: #5a5a5a;
}

.table-correction th {
  background-color: #f6f6f6;
}

.table-correction .accent {
  position: relative;
  
  color: #00388c;
}
.table-correction .accent::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: calc(100% + 2px);
  border-left: 1px solid #004b87;
  border-right: 1px solid #004b87;
}


.table-correction .accent.header {
  background-color: #b7d8f4;
  border-top: 1px solid #004b87;
}

.table-correction .accent.bottom {
  border-bottom: 1px solid #004b87;
}

.box-line.flex {
  display: flex;
}

.box-line.flex .text-wrap {
  margin-left: 12px;
}
.list-num li:not(:first-child) {
  margin-top: 10px;
}

.list-num li .icon-num {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: #555;
  font-size: 10px;
  color: #fff;
  text-align: center;
}

.box-line.correction {
  padding: 0;
  border-top: 2px solid #0020a7;
}

.box-line.correction .title {
  padding: 10px;
  background-color: #b7d8f4;
  color: #494949;
  font-size: 14px;
}

.fc-ccc {
  color: #ccc;
}

.bg-blue.cut {
  background: linear-gradient(#e6eff7 80%, #fff 20%);
}

.list-dot {
  padding: 0 42px;
  list-style-type: disc;
}


.box-wrap.correction {
  justify-content: space-between;
}

.box-solid.correction {
  flex-basis: 150px;
  padding: 0;
  border: 1px solid var(--border-color)
}