/* common */
body,
header,
#quick-menu {
  max-width: 1200px;
}

/* seyeintro.html */

.menu-area {
  display: flex;
  margin: 42px 40px 0;
}

.menu-area .menu {
  position: relative;
}

.menu-area .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 560px;
  border: 0.5px solid #a8a8a8;
  padding: 30px 30px 30px 55px;
  box-sizing: border-box;
  background-color: #fff;
}

.menu-area .menu a {
  font-size: 40px;
}

.menu-area img {
  width: 27px;
  height: 17px;
}

.menu-area .sub-menu {
  display: none;
  position: absolute;
  top: 109px;
  left: 0;
}

.menu-area .sub-menu .menu-item {
  border-top: 0;
}


.intro {
  margin-top: 125px;
  text-align: center;
}

.intro .title {
  margin-top: 89px;
  font-size: 66.5px;
}

.intro .title strong {
  font-weight: 700;
}

.intro .content {
  margin-top: 68px;
  font-size: 39px;
  line-height: 1.64;
}

.intro .img-area {
  margin-top: 125px;
}

.section {
  padding: 118px 90px 102px;
}

.section.gray {
  background-color: #f4f4f4;
}

.section .title {
  font-size: 66.5px;
  font-weight: 700;
}

.section .sub-title {
  margin-top: 40px;
  font-size: 43.5px;

}

.section .img-area {
  margin-top: 48px;
}

.section .content {
  margin-top: 87px;
  font-size: 41px;
  line-height: 1.82;
  letter-spacing: -1.64px;
}

.section .content strong {
  font-weight: 700;
}